.vscode/**
.vscode-test/**
test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/.eslintrc.json
build
build.bat
git_clone
git_clone.bat
git_push
git_push.bat
.github
.idea
