html {
  width: 100%;
}

body {
  background-color: transparent;
  width: 100%;
}

.button-wrap {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.button-wrap button {
  margin-right: 1rem;
}

.image-wrap {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.image-wrap img {
  width: 33.3%;
  display: inline;
}

.title-wrap{
    vertical-align: middle;
}

.title-wrap * {
  display: inline-block;
}

textarea {
  width: 100%;
  max-width: 100%;
}
